/.next/
/build
logs
/node_modules
/out/
coverage/
playwright-report/
reports/

.DS_Store
*.pem
.env*.local
*.tsbuildinfo
next-env.d.ts
npm-debug.log*

pids
*.pid
*.seed
*.pid.lock

grouvee*.csv
/drizzle/
sqlite.db
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
